<ul class="media-list">
  <% groups.each do |group| %>
    <li class="media">
      <div class="media-body">
        <div>
          <p><%= group.title %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>