<%= link_to 'レストラン登録画面へ', new_restaurant_path, class: 'btn btn-lg btn-primary' %>

<div class="row">
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= restaurant.name %>
    </li>
  <% end %>
</div>